<h1>Sign In</h1>
<%= form_for(:session, url: signin_path) do |f| %>
  <div class="form-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit 'Sign in', class: 'btn btn-dark-blue' %>
<% end %>
