<%= form_for [@post, @comment] do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.hidden_field :author_id, value: current_author.id %>
  <div class="form-field">
    <label>Add comment:</label>
    <%= f.text_area :content %>
  </div>
  <%= f.submit class: 'btn btn-dark-blue' %>
<% end %>
