<h1>Sign Up</h1>

<%= form_for @author do |f| %>
  <div class="form-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit 'Sing up', class: 'btn btn-dark-blue' %>
<% end %>
