<nav class="nav-bar">
  <%= link_to 'Sign in', signin_path, class: 'btn btn-dark-blue' if !current_author.present? %>
  <%= link_to 'Sign up', signup_path, class: 'btn btn-dark-blue' if !current_author.present? %>
  <%= link_to 'Sign out', signout_path, class: 'btn btn-dark-blue' if current_author.present? %>
</nav>
