p, h1, h2, h3, h4, h5, h6, hr {
  margin: 0;
}

a, a:hover, a:active {
  outline: 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.btn, .btn:hover, .btn:active {
  display: block;
  border: none;
}

body {
  overflow-x: hidden;
  background: $light-blue;
}

.container {
  padding: 30px;
  margin: 80px auto;
  background: $white;
}

label {
  margin: 0;
  display: block;
}

input[type="text"], textarea {
  resize: none;
  width: 100%;
  max-width: 100%;
}

#notice {
  font-size: 16px;
  color: $green;
}

#error_explanation {
  font-size: 16px;
  color: $red;

  h2 {
    font-size: 20px;
  }
}

.image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-contain {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
