$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$white: #ffffff;
$light-blue: #eaf6ff;
$blue: #abc9ff;
$dark-blue: #0042ba;
$grey: #adadad;
$red: #cc0000;
$green: #38ad3b;