<div class="post-form-page">
  <%= form_for @post do |f| %>
  <%= f.hidden_field :author_id, value: current_author.id %>
    <div class="form-field">
      <label>Title:</label>
      <%= f.text_field :title %>
    </div>
    <div class="form-field">
      <label>Content:</label>
      <%= f.text_area :content %>
    </div>
    <div class="form-field">
      <label>Image:</label>
      <%= f.file_field :image %>
    </div>
    <%= f.submit class: 'btn btn-dark-blue' %>
  <% end %>
</div>
