<div class="posts-page">
  <%= link_to 'Create new post', new_post_path, class: 'btn btn-dark-blue' %>

  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <div class="d-flex m-b-20">
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag 'Search', class: 'btn btn-light-blue m-0' %>
    </div>
  <% end %>

  <div class="posts row no-gutters">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="image" style="background-image: url('<%= url_for(post.image) if post.image.attached? %>')"></div>
        <div class="content-block">
          <p class="title"><%= post.title %></p>
          <p class="content"><%= post.content %></p>
          <p><%= author_full_name(post.author.first_name, post.author.last_name) %></p>
          <div class="row no-gutters justify-content-center">
            <%= link_to 'Show', post_path(post), class: 'btn btn-light-blue' %>
            <% if current_author.present? && post.author_id == current_author.id %>
              <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-light-blue' %>
              <%= button_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-light-blue' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
