<div class="post-show-page">
  <%= link_to 'All posts', posts_path, class: 'btn btn-dark-blue' %>
  <div class="image" style="background-image: url('<%= url_for(@post.image) if @post.image.attached? %>')"></div>
  <p class="title"><%= @post.title %></p>
  <p class="content"><%= @post.content %></p>
  <div class="row no-gutters justify-content-between">
    <p class="text-14 grey-text"><%= author_full_name(@post.author.first_name, @post.author.last_name) %>
      , <%= distance_of_time_in_words(Time.now, @post.created_at) %></p>
    <p><i class="far fa-eye"></i> <%= @post.impressionist_count %></p>
  </div>

  <% if current_author.present? %>
    <div class="comment-form">
      <%= render 'comments/form' %>
    </div>
  <% end %>

  <% @comments.each do |comment| %>
    <div class="comment-block">
      <div class="comment" title="<%= comment.created_at %>">
        <p><%= comment.content %></p>
        <p class="text-14 grey-text"><%= author_full_name(comment.author.first_name, comment.author.last_name) %>,
          <%= distance_of_time_in_words(Time.now, comment.created_at) %>
          <%= comment.votes.map(&:value).sum %>
          <% if comment.created_at != comment.updated_at %>
            , Edited
          <% end %>
        </p>
      </div>
      <div>
        <% if current_author.present? && current_author == comment.author && Time.now - comment.created_at <= 3600 %>
          <%= link_to 'Edit', edit_post_comment_path(@post, comment), class: 'btn btn-light-blue' %>
          <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete, class: 'btn btn-light-blue' %>
        <% end %>
      </div>
    </div>
    <br/>
  <% end %>
</div>
