// Place all the styles related to the Posts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts-page {
  .post {
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    border: solid 1px $grey;
  }

  .content-block {
    padding: 10px;
  }

  .image {
    height: 200px;
  }

  .title {
    font-size: 20px;
  }

  .content {
    font-size: 16px;
  }

  @media (min-width: $screen-sm) {
    .posts {
      justify-content: space-between;
    }

    .post {
      width: 48%;
    }
  }

  @media (min-width: $screen-md) {
    .posts {
      justify-content: flex-start;
    }

    .post {
      margin-right: 3.5%;
      width: 31%;

      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }

    .title {
      font-size: 24px;
    }

    .content {
      font-size: 18px;
    }
  }
}

.post-show-page {
  .image {
    height: 200px;
  }

  .title {
    font-size: 24px;
  }

  .content {
    font-size: 18px;
  }

  .comment-form {
    padding-top: 30px;
  }

  .comment-block {
    margin-bottom: 10px;
    display: flex;

    .comment {
      padding-right: 10px;
      width: 100%;
    }

    .btn {
      margin: 0;
    }
  }

  @media (min-width: $screen-xs) {
    .image {
      height: 300px;
    }
  }

  @media (min-width: $screen-sm) {
    .image {
      height: 400px;
    }
  }

  @media (min-width: $screen-md) {
    .image {
      height: 600px;
    }

    .title {
      font-size: 36px;
    }

    .content {
      font-size: 20px;
    }
  }
}

.post-form-page {
  .btn {
    margin-top: 10px;
  }

  .form-field {
    margin-bottom: 10px;
  }
}

.btn-dark-blue {
  margin-bottom: 20px;
  color: $white;
  background: $dark-blue;

  &:hover, &:active {
    color: $white;
  }
}

.btn-light-blue {
  margin: 10px 10px 0 0;
  background: $blue;
}